p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

b {
  font-weight: 600;
}

.generator {
  --gen-gutter: 20px;
  --gen-border-radius: 6px;

  --gen-c-white: #f8fafc;
  --gen-c-lightest: #f1f5f9;
  --gen-c-lighter: #e2e8f0;
  --gen-c-light: #cbd5e1;
  --gen-c-neutral: #94a3b8;
  --gen-c-dark: #64748b;
  --gen-c-darker: #334155;
  --gen-c-darkest: #1e293b;

  --gen-c-error: #e11d48;
  --gen-c-error-light: #ffe4ea;
  --gen-c-warning: #e1701d;
  --gen-c-warning-light: #ffedd5;
  --gen-c-success: #047857;
  --gen-c-success-light: #d1fae5;
  --gen-c-accent: #0e7490;
  --gen-c-accent-light: #f0f9ff;

  font-family: Marr Sans;
  font-size: 14px;
  color: var(--gen-c-darker);
  max-width: 1024px;
  margin: 32px auto;
}

.generator__flex {
  display: flex;
  align-items: center;

  >* {
    margin-left: 1.6em;
  }

  :first-child {
    margin-left: 0;
  }

  &--small {
    >* {
      margin-left: 0.8em;
    }
  }
}

.generator__form_button {
  display: inline-block;
  cursor: pointer;
  // padding: 12px;
  // border: 1px solid var(--gen-dark-grey);
}

.generator select {
  background-color: var(--gen-c-lighter);
  color: var(--gen-dark-grey);
  border: 0;
  border-radius: var(--gen-border-radius);
  padding: 0 1.5em;
  padding-right: 3.5em;
  font-size: 1em;
  background-image: url(https://icons.veryicon.com/png/o/miscellaneous/decon/dropdown-1.png);
  background-size: 1.5em;
  background-position-y: center;
  background-position-x: 95%;
  background-repeat: no-repeat;
  appearance: none;
}

.generator input {
  padding: 6px;
}

.generator label+input[type="text"],
.generator label+select {
  margin-top: 6px;
}

.generator input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  position: relative;
  top: -1px;
}

.generator input[type="number"] {
  padding: 2px;
  background-color: var(--gen-c-lightest);
  border: 0;
  color: var(--gen-c-darkest);
  padding: 0.4em 0.6em 0.2em;
  font-family: monospace;
  width: 6em;
}

.generator input[type="color"] {
  border: 0;
  padding: 0;
  background-color: unset;
  position: relative;
  height: 22px;
  top: -1px;
}

.generator input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.generator input[type="color"]::-webkit-color-swatch {
  border: none;
  border: 1px dashed var(--gen-c-neutral);
}

.generator input[type="radio"] {
  margin-top: 0;
  margin-right: 0;
  position: relative;
  top: 2px;
  margin-right: 0.4em;
}

.generator input[type="file"] {
  display: none;
}

.generator__form_label {
  font-weight: 500;

  &--padding {
    padding-bottom: 12px;
  }

  &--header {
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 12px;
  }
}

.generator__form_button--uppercase {
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
  color: var(--gen-c-dark);
  letter-spacing: 0.05em;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.2em;
    }
  }
}

.generator__toggle {
  display: flex;
  align-items: center;
  margin-top: 1em;
  cursor: pointer;

  &::before {
    content: "▶︎";
    font-size: 0.66em;
    padding-right: 0.66em;
    transition: transform 200ms;
  }

  &--open {
    &::before {
      transform: rotate(90deg) translate(0.2em, 0.3em);
    }
  }
}

.generator__disabled {
  opacity: 0.4;
  pointer-events: none;
}

.generator__form_group {
  margin-top: 12px;
}

*[contenteditable="true"] {
  display: inline-block;
}

.generator__contenteditable {
  margin-top: 6px;
  padding: 12px;
  border-radius: 4px;
  font-family: monospace;
}

.generator__buttons-group {
  display: flex;
  column-gap: 1em;
}